@{
    ViewData["Title"] = "Contato";
}
<h2>Entre em contato</h2>

<address>
    EGS Sistemas<br />
    Rua Adauto Pereira dos Santos, 684<br />
    <abbr title="Telefone:">P:</abbr>
    011987425350
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:Support@example.com">emersongracindo@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">emersongracindo@gmail.com</a>
</address>
