<br/>

<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-3">
        <div class="row">
            <a href="../Cliente/Index"><img src="~/images/clientes.png" width="150" height="150" /></a>
        </div>
        <span>Contatos</span>
    </div>
</div>

